version: '3.9'

services:
  postgres:
    image: postgres:18
    container_name: pg-dev
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: test
    ports:
      - '5432:5432'
    volumes:
      - pg-data:/var/lib/postgresql

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - '8080:8080'
    depends_on:
      - postgres

volumes:
  pg-data:
